.App {

    width: auto;
    background: linear-gradient(180deg, #5B8AF1 0%, rgba(91, 138, 241, 0.6) 100%);
    min-width: 800px;
    height: 100vh;
}

.brickBottom {
    background-image: url("../../assets/img/build-box.png");
    background-size: 40px 41.5px;
    position: absolute;
    bottom: 0;
    height: var(--main-brickBottom-size);
    width: 100%;
}

.selectable{
    position: relative;
}
.mush_hover {
    background-image: url("../../assets/img/mush-hover.png");
    background-size: 30px 30px;
    width: 40px;
    height: 42px;
    opacity: 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 4px;
}

.selectable:hover .mush_hover{
    opacity: 1;
 
}
  .pointer{
    cursor: pointer;
  }
  .errorMsg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }